body {
  background-color: #0d0d0d;
  color: #b8b8e5;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.875em;
}

a {
	color: inherit;
}

#contents {
  width: 1024px;
  margin: auto;
}

#social {
  margin: 1em 0em;
}

#canvas {
  width: inherit; /* 16:9 */
  height: 576px;
}

#links {
  margin: 1em 0em;
}

#links img {
  width: 2em;
}

.round-border {
  border: 1em solid black;
  border-radius: 1em;
}